.container {
  margin: 0 auto;
  width: 50vw;
}


h1 {
  font-size: 52px;
}

.item {
  width: 50vw;
  border-top: 1px solid lightgray;
  font-size: 36px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.picture {
  width: 30vw;
  margin: 1vw auto;
  align-self: center;
  display: none;
}

.item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.icon {
  width: 2rem;
  display: none;
  transition: all 0.3s;

}

input:checked + .icon {
  transform: rotate(45deg);
}

.item:hover .icon{
  transform: rotate(45deg);
}

input {
  display: none;
}

.bayan:hover {
  cursor: pointer;
  color: rgb(121, 61, 12);
}

.item:hover .picture {
  display: block;
}


.bayan:hover .icon {
  display: block;
}


input:checked + .picture {
  display: block;
}

