

ul {
  margin: 0;
  padding: 0;
}

.item {
  width: 50vw;
  border-top: 1px solid lightgray;
  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.picture {
  width: 30vw;
  margin: 1vw auto;
  align-self: center;
  display: none;
  
}

label {
  cursor: pointer;
}

.item_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.icon {
  width: 2rem;
  display: none;
  transition: all 0.3s;
}

input:checked + .icon {
  transform: rotate(45deg);
}

.item:hover .icon{
  transform: rotate(45deg);
}

input {
  display: none;
}

.bayan:hover {
  cursor: pointer;
  color: rgb(121, 61, 12);
}

.item:hover .picture {
  display: block;
}


.bayan:hover .icon {
  display: block;
}


input:checked + .picture {
  display: block;
}

@media (min-width: 300px) {
  .container {
    margin: 0;
    padding: 1vw;
    width: 100%;
  }
  
  h1 {
    font-size: 1.3rem;
  }
  
  .item {
    width: 98%;    
    font-size: 1.3rem;
    padding: 2vw 0;
  }

  .picture {
    width: 90vw;
  }
  .icon {
    width: 1.3rem;
  }
}

 @media (min-width: 460px) {
  .container {
    margin: 0 auto;
    width: 70%;
  }
  
  h1 {
    font-size: 2.1rem;
  }
  
  .item {
    width: 100%;
    font-size: 2rem;
  }

  .picture {
    width: 60vw;
  }
  .icon {
    width: 2rem;
  }
}  

@media (min-width: 1100px) {
  .container {
    margin: 0 auto;
    width: 50vw;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  
  .item {
    width: 50vw;
    font-size: 2rem;
  }

  .picture {
    width: 30vw;
  }
  .icon {
    width: 2rem;
  }
} 